<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;" class="mt-5">Weather App</h1>

        <!-- <h2 class="mt-4">Add City</h2> -->
        <form style="align-items: center; display: flex; justify-content: center;"  action="{% url 'core:weather' %}" method="post" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add City</button>
        </form>
        {% if weather_data %}
            <form action="{% url 'core:weather' %}" method="post" class="mb-4">
                {% csrf_token %}
                {% for weather in weather_data %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="city_id" value="{{ weather.id }}">
                            <label class="form-check-label">
                                <h3 class="card-title">{{ weather.city }}</h>
                                <p class="card-text">Temperature: {{ weather.temperature }}°C</p>
                                <p class="card-text">{{ weather.description }}</p>
                            </label>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button style="align-items: center; display: flex; justify-content: center;" type="submit" class="btn btn-danger mt-3">Clear City List</button>
            </form>
        {% else %}
            <p>No cities added yet.</p>
        {% endif %}
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
