.btn1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    border-radius: 10px;
    height: 35px;
}
.form1{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize: vertical; */
    text-align: center;     
}

/* input box styling */
input[type=text], select {
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
}
.h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4CAF50;
}
/* style form2 */
.form2{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}
.p2{
    text-align: center;
}
/* center btn2 */
.btn2{
    text-align: center;
}
/* footer */
.myfooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20;
    background-color: #4CAF50;
    color: white;
    /* text-align: center; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    margin-top: 80px;
}
.card-body{
    text-align: center;
}